@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

html{
    font-family: 'Life Savers', cursive;
}

body{
    background-color: aliceblue;
    background-image: url("/images/cats/universe_bg.jpg");
}

p{
    padding-bottom: 2%;
}

.header{
    padding-top: 15px;
    text-shadow: 3px 3px 1px rebeccapurple;
    transition-duration: 0.3s;
}

img{
    border-radius: 10%;
    padding-left: 3%;
    width: 400px;
    height: 400px;
    transition-duration: 0.3s;
}

img:hover{
    width: 600px;
    height: 600px;
    transition-duration: 0.4s;
}

h1, p, ul{
    color: palegreen;
    letter-spacing: 2px;
}

ul{
    font-size: 125%;
    transition-duration: 0.3s;
}

li:hover{
    font-size: 125%;
    border: 3px solid lightblue;
    transition-duration: 0.4s;
}

.credits{
    color:plum;
    font-size: 90%;
    padding-bottom: 50px;
    transition-duration: 0.3s;
}

a:hover{
    color:chartreuse;
    font-size: larger;
    transition-duration: 0.4s;
}

button{
    background-color: white;
    color:black;
    border: 2px solid lightcoral;
    border-radius: 15px;
    box-shadow: 0 10px #999;
    transition-duration: 0.4s;
    padding: 40px 40px 40px 40px;
}
button:hover{
    background-color: lightcoral;
    color: white;
    font-size: large;
}
button:active{
    background-color: darksalmon;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.footer{
    text-align: center;
    font-size: larger;
    padding: 10px 10px 20px 40px;
}
.footer:hover, .header:hover{
    font-size: 200%;
    text-shadow: 3px 3px 1px blue;
    padding-top: 100px;
    padding-bottom: 100px;
    transition-duration: 0.4s;
}