body
{
    background-color:rgba(183, 250, 183, 0.229);
    font-family: sans-serif;
}

/*Signature*/

.signature-header
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #00000f48;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    border-radius : 10px;
    padding: 5px;
}
.signature-header-div
{
/*    flex: 1;
 */ display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 0.4em;
    text-align: center;
}

.signature-header-div svg
{
    display: block;
    margin: auto;
    padding-top: 10px;
    transition: 0.2s;
}
.signature-header-div:hover svg
{
    transform: translateX(10px);
}
.signature-header-div .logo-text
{
    margin: 10px 0; /*Adds spacing around text*/
}

/*Disclaimer*/

.disclaimer
{
    text-align: center;
    color: darkcyan;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.disclaimer:hover
{
    transition: 0.1s;
    transform: translateX(25px);
}
.down-arrow
{
    fill: rgb(171, 180, 45);
}


/* Responsiveness for elements and content*/
@media (max-width: 768px)
{
    .signature-header
    {
        padding: 5px;
    }
    .signature-header-div
    {
        flex-direction: row;
        align-items: center;
    }

    .signature-header-div .logo{  
        max-width: 100%;
    }
    .signature-header-div .logo-text{
        max-width: 50%;
    }

    .disclaimer{
        font-size: 90%;
    }
}